bin/
obj/
vs/
/.vs/DriveOfCity/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/driveofcity.metadata.v7.bin
/.vs/ProjectEvaluation/driveofcity.projects.v7.bin
/.vs/DriveOfCity/FileContentIndex/bdc1911c-3a7e-4f94-8db8-1e182413b6de.vsidx
/.vs/DriveOfCity/FileContentIndex/020176c3-4604-4b5e-8333-5540798cd6ba.vsidx
